.button_container {
  width: 100%;
  & button {
    display: flex;
    justify-content: center;
    align-items: center;
    // font-size: 1rem;
    font-weight: 700;
    // width: 100%;
    min-width: 450px;
    max-height: 350px;
    min-height: 50px;
    max-height: 50px;
    position: relative;
    // padding: 0;
    border: 0;
    text-align: justify;

    & svg {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      padding: 10px;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      font-weight: 700;
      border-radius: 0 0.25rem 0.25rem 0;
      background-color: var(--bs-blue-dark);
    }
  }
}

// `xs` returns only a ruleset and no media query
// ... { ... }

// `sm` applies to x-small devices (portrait phones, less than 576px)

@media (max-width: 575.98px) {
  .button_container {
    width: 100%;
    & button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.85rem;

      min-width: 200px;

      & svg {
        right: -48px;
      }
    }
  }
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .button_container {
    width: 100%;
    & button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.85rem;
      min-width: 450px;
      & svg {
        right: -48px;
      }
    }
  }
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .button_container {
    width: 100%;
    & button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.85rem;
      min-width: 450px;
      & svg {
        right: -48px;
      }
    }
  }
}

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  .button_container {
    width: 100%;
    & button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.85rem;
      min-width: 200px;
      & svg {
        right: -48px;
      }
    }
  }
}

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (min-width: 1399.98px) {
  .button_container {
    width: 100%;
    & button {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 450px;
      & svg {
        right: -48px;
      }
    }
  }
}
